Repository BlueprintByCTX/luxe: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_main, build_magazine

build_main:
  stage: build
  script:
  - npm run build --workspace=main
  artifacts:
    paths:
    - main/dist/
    expire_in: 1 week
    public: false
  needs:
  - install_dependencies

build_magazine:
  stage: build
  script:
  - npm run build --workspace=magazine
  artifacts:
    paths:
    - magazine/dist/
    expire_in: 1 week
    public: false
  needs:
  - install_dependencies

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

45
  .gitlab-ci.yml
Due: none

2.
  .gitlab-ci.yml
Due: none

fcvf
  .gitlab-ci.yml
Due: none

magazine removed scaf
  .gitlab-ci.yml
  magazine/src/App.vue
  magazine/src/assets/base.css
  magazine/src/assets/logo.svg
  magazine/src/components/HelloWorld.vue
  magazine/src/components/TheWelcome.vue
  magazine/src/components/WelcomeItem.vue
  magazine/src/components/icons/IconCommunity.vue
  magazine/src/components/icons/IconDocumentation.vue
  magazine/src/components/icons/IconEcosystem.vue
  magazine/src/components/icons/IconSupport.vue
  magazine/src/components/icons/IconTooling.vue
  magazine/src/router/index.ts
  magazine/src/views/AboutView.vue
  magazine/src/views/HomeView.vue
Due: build_magazine

main/ovr
  magazine/ovr
  main/ovr
  package-lock.json
  package.json
Due: build_main, build_magazine

mag
  .gitlab-ci.yml
  401_.ports
  magazine/src/assets/main.css
  magazine/vite.config.ts
  main/vite.config.ts
Due: build_main, build_magazine

public
  magazine/.gitignore
  magazine/index.html
  magazine/public/android-chrome-192x192.png
  magazine/public/android-chrome-512x512.png
  magazine/public/apple-touch-icon.png
  magazine/public/favicon-16x16.png
  magazine/public/favicon-32x32.png
  magazine/public/favicon.ico
  magazine/public/site.webmanifest
Due: build_magazine

commented
  magazine/src/App.vue
Due: build_magazine

couhntdown done
  magazine/env.d.ts
  magazine/src/views/HomeView.vue
  magazine/tsconfig.app.json
  main/env.d.ts
  main/package.json
  main/src/assets/imgs/logoc.png
  main/src/components/CountdownTimer.vue
  main/src/views/HomeView.vue
  package-lock.json
  package.json
Due: build_main, build_magazine

mag done
  magazine/src/assets/imgs/logos/cluxe-green-logo.png
  magazine/src/assets/imgs/logos/cluxe-white-logo.png
  magazine/src/assets/imgs/shen2.jpeg
  magazine/src/components/BannerBar.vue
  magazine/src/components/FooterBar.vue
  magazine/src/views/HomeView.vue
Due: build_magazine

home redirect done
  main/src/views/HomeView.vue
Due: build_main

msg changed
  magazine/src/views/HomeView.vue
Due: build_magazine

cursor-pointer
  magazine/src/views/HomeView.vue
Due: build_magazine

Update BannerBar.vue
  magazine/src/components/BannerBar.vue
Due: build_magazine

Update HomeView.vue
  magazine/src/views/HomeView.vue
Due: build_magazine

Delete ovr
  magazine/ovr
Due: build_magazine

changes
  magazine/src/views/HomeView.vue
Due: build_magazine

gityml
  .gitlab-ci.yml
Due: none

tags
  magazine/index.html
  main/index.html
Due: build_main, build_magazine

mag tag
  magazine/index.html
Due: build_magazine

modal fix
  magazine/src/App.vue
  magazine/src/lib/state.ts
  magazine/src/views/HomeView.vue
Due: build_magazine

.
  magazine/src/lib/state.ts
Due: build_magazine

.
  .firebaserc copy
  firebase copy.json
Due: none

should work
  .firebaserc copy
  .github/workflows/firebase-hosting-merge.yml
  firebase copy.json
Due: none

home updated
  main/src/views/HomeView.vue
Due: build_main

.
  .github/workflows/firebase-hosting-merge.yml
  main/ovr
Due: build_main

2secs
  main/src/views/HomeView.vue
Due: build_main

Path conditions:
  build_main: any of: main/**/*
  build_magazine: any of: magazine/**/*
